<%= form_for(todo) do |f| %>
  <% if todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% todo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control", required: true %>
  </div>

  <div class="form-group">
    <%= f.label :user_id, 'Assign To User' %>
    <%= f.collection_select :user_id, User.all, :id, :email, {prompt: "Assign a User"}, {class: "form-control", required: true} %>
  </div>

  <div class="actions">
    <%= f.submit 'Create Todo', :class => 'btn btn-primary' %>
  </div>
<% end %>
