<div class="col-xs-12 col-md-6 pull-right" id="logout"><%= link_to "Log out", destroy_user_session_path, :method => :delete, class: "btn btn-primary" %></div>


<p id="notice"><%= notice %></p>

<h1>Todos for <%= current_user ? current_user.email : 'Welcome' %>
</h1>

<div class="table-responsive">
  <table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
      <tr>
        <td><%= todo.title %></td>
        <td><%= todo.notes %></td>
        <td><%= link_to 'View', todo %></td>
        <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
        <td><%= link_to 'Completed', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>

<%= link_to 'New Todo', new_todo_path, class: "btn btn-primary", id: "new_todo_button"  %>
