/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

body{
	background: url("./bg.jpg") repeat-x;
}
label{
		color: #000;

}

#contentBox{
	margin-top: 50px;
	background-color: rgba(255,255,255,.8);
	border: 5px solid #000;
	padding: 25px;
}
#new_user{
	text-align: center;
}
#logout{
	text-align: right;
	
}
#logout a, #new_todo_button{
	color: #fff;
}



